.input-field {
    display: flex;
    flex-direction: column;
    height: 187px;
    align-items: flex-end;
    color: #fff;
    background-color: #161A20;
    width: 100%;
    justify-content: center;
    gap: 2em;
}
.prev-value {
font-size: 1.5rem;
margin-right: 10px;
}
.current-value {
font-size: 3rem;
margin-right: 10px; 
}