.input-field {
    display: flex;
    flex-direction: column;
    height: 140px;
    align-items: flex-end;
    background-color: #161A20;
    width: 100%;
    justify-content: center;
    gap: 2em;
}

.prev-value {
    font-size: 1.5rem;
    margin-right: 10px;
    min-height: 20px;
}

.current-value {
    font-size: 2.5rem;
    margin-right: 10px;     
    min-height: 60px;
}