.function-button {
    cursor: pointer;
    font-size: 1.2rem;
    background-color:#0060E5;
    color: #CBE1FF;
    padding: 1.2em 2.5em;
    text-align: center;
}

.functions-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
    background-color: #161A20;
}