body {
    font-family: 'Roboto';
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    width: 500px;
    margin: 0 auto;
    min-height: 100vh;
    border-radius: 2px;
}

.keyboard {
    background-color: #161A20;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 4px;
    padding-bottom: 5px;

}

.panel {
    display: flex;
    flex-direction: column;
    gap: 4px;
}